body {
    background-color: #f0f0f0;
    color: #333;
}
form {
    display: block;
    flex-direction: column;
    max-width: 500px;
    margin: 20px auto;
}

label {
    margin-bottom: 15px;
    font-weight: bold;
}

input[type="email"],
textarea {
    width: 100%;
    padding: 20px;
    margin-bottom: 15px;
    border: 1px solid #987f38;
    border-radius: 4px;
    box-sizing: border-box; /* Ensures padding doesn't affect width */
}

button {
    background-color: #4CAF50; /* Green */
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

h1 {
size: 20px;
color: #987f38;
flex-direction: top;
}